<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="/static/91.png">

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@profwade_" />
    <meta name="twitter:creator" content="@profwade_" />
    <meta name="twitter:title" content="{{site.title}}" />
    {% if page.title %}<meta name="twitter:description" content="{{page.title}}" />{% endif %}
    {% if page.social-img %}<meta name="twitter:image" content="{{page.social-img}}" />{% endif %}

    <meta property="og:title" content="{{site.title}}">
    {% if page.title %}<meta property="og:description" content="{{page.title}}">{% endif %}
    {% if page.social-img %}<meta property="og:image" content="{{page.social-img}}">{% endif %}
    <meta property="og:url" content="https://91-divoc.com{{page.url}}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ "/static/91.css" | relative_url }}">

    <title>{{site.title}}</title>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-67232409-3"></script>
    <script>window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'UA-67232409-3');</script>
  </head>
  <body>
    <div>
    {{content}}
    </div>
  </body>
</html>