---
layout: bare
---

<header class="container-fluid">
  <div class="container">
    <h1>91-DIVOC</h1>
    <h2><i>Let's flip the script on COVID-19 and build fantastic things!</i></h2>
  </div>
</header>

{{content}}

<footer class="container-fluid">
  <div class="container" style="text-align: right;">
    <div style="color: #ddd;">&ndash; wade</div>
    <div style="font-size: 12px;">
      <a href="https://waf.cs.illinois.edu">Website</a> | 
      <a href="https://www.instagram.com/profwade/">Instagram</a> |
      <a href="https://www.twitter.com/profwade_/">Twitter</a> |
      <a href="https://www.github.com/wadefagen/">GitHub</a>
    </div>
  </div>
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
