---
layout: base
---

<div class="container-fluid" style="border-bottom: dashed 1px hsla(199, 100%, 6%, 1);">
  <div class="container lead">
    91-DIVOC is home to many data-forward, high-quality, interactive, and informative visualizations made during the global pandemic
    created by Prof. Wade Fagen-Ulmschneider.  I hope you'll spend some time and nerd out on data with me! :)<span style="float: right; margin-top: 5px;">- wade</span>
  </div>

</div>

<div class="container content" style="margin-top: 20px;">
  {{content}}
</div>