---
layout: base
---

<div class="container-fluid" style="border-bottom: dashed 1px hsla(199, 100%, 6%, 1);">
  <div class="container lead">
    This website is an experimental idea to build a community around making the best of a global pandemic.  The goal
    is to explore <b>91</b> ideas, datasets, designs, or the like and build something -- anything.  Join the community by creating
    and sharing your creation.
  </div>
</div>

<div class="container content" style="margin-top: 20px;">
  {{content}}
</div>