---
layout: bare
---

<header class="container-fluid header-small">
  <div class="container">
    <h1>
      <a href="/">91-DIVOC</a>
    </h1>
  </div>
</header>

<div class="container-fluid viz" style="border-bottom: dashed 1px hsla(199, 100%, 6%, 1); margin-bottom: 20px;">
  <div class="container lead">
    <h2>{{page.title}}</h2>
    {{page.desc}}
  </div>
</div>

<div class="container">
{{content}}
</div>

<footer class="container-fluid">
  <div class="container" style="text-align: right;">
    <div style="color: #ddd;">&ndash; wade</div>
    <div style="font-size: 12px;">
      <a href="https://waf.cs.illinois.edu">Website</a> | 
      <a href="https://www.instagram.com/profwade/">Instagram</a> |
      <a href="https://www.twitter.com/profwade_/">Twitter</a> |
      <a href="https://www.github.com/wadefagen/">GitHub</a>
    </div>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
